.table {
  margin: 0;
  padding: 0;
  margin-left: calc(var(--table_left)/2*1px);
  max-width: calc((var(--page_width) - 2*var(--table_left))*1px);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  column-gap: calc(var(--table_colgap)*1px);
  row-gap: calc(var(--table_rowgap)*1px);
  flex-wrap: wrap;
  list-style-type: none;
}

@media screen and (max-width: 1279px) {
  .table {
    margin-left: calc(var(--table_left)/var(--page_width)*100vw/2);
    max-width: calc((1 - 2*var(--table_left)/var(--page_width))*100vw);
  } 
}

@media screen and (max-width: 768px) {
  .table {
    align-items: center;
  } 
}

@media screen and (max-width: 320px) {
  .table {
    margin-left: calc(var(--table_left)/2*1px);
    max-width: calc((var(--page_width) - 2*var(--table_left))*1px);
    flex-direction: column;
  } 
}