.popup__error-msg {
  margin-left: calc(var(--profiledit_items_left)*1px);
  max-width: calc(var(--profiledit_input_width)*1px);
  display: block;
  text-align: left;
  font-size: calc(var(--input_error_fnsize_p)*1px);
  line-height: calc(var(--input_error_lnhght_p)*1px);
  color: var(--input_error_color);
  opacity: 0;
  border: none;
  position: absolute;
  left: calc(var(--error_msg_left)*1px);
}